/* inter-regular - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-v12-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../fonts/inter-v12-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/inter-v12-latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */ url("../fonts/inter-v12-latin-regular.woff")
            format("woff"),
        /* Modern Browsers */ url("../fonts/inter-v12-latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/inter-v12-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
}

/* mulish-regular - latin */
@font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/mulish-v12-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../fonts/mulish-v12-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/mulish-v12-latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("../fonts/mulish-v12-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/mulish-v12-latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/mulish-v12-latin-regular.svg#Mulish") format("svg"); /* Legacy iOS */
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 36px 130px;
}

.nav-container .nav-menu {
    flex: 1;
}

.nav-container .nav-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav-container .nav-menu ul li {
    padding: 0 1rem;
}

.nav-container .nav-menu ul li a {
    text-decoration: none;
}

.nav-container .nav-action ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-container .nav-action a {
    float: right;
    text-decoration: none;
    color: white;
    background-color: #5f2eea;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.nav-container .nav-action a:hover {
    background-color: #4c1fc9;
    color: white;
}

section.first-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    margin: 0 130px;
}

section.first-section div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex: 1;
}

section.first-section p {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #a0a3bd;
    margin-bottom: 10px;
}

section.first-section h1 {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    color: #5f2eea;
    margin-top: 0;
}

section.second-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.second-section-container-first {
    background-color: #f5f6f8;
    height: 578px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: auto;
}

.second-section-container-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

section.second-section .first {
    display: flex;
    flex-direction: row;
    margin: 0 130px;
    width: 100%;
}

section.second-section .first h4 {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #5f2eea;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
    text-underline-offset: 10px;
}

section.second-section .first a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5f2eea;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
}

section.second-section .movie-now-showing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

section.second-section .movie-now-showing .movie {
    border: 2px solid white;
    background-color: #f7f8f9;
    padding: 32px 32px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin: 0px 24px;
}

section.second-section .first h1 {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}
