/* inter-regular - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-v12-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../fonts/inter-v12-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/inter-v12-latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */ url("../fonts/inter-v12-latin-regular.woff")
            format("woff"),
        /* Modern Browsers */ url("../fonts/inter-v12-latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/inter-v12-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
}

/* mulish-regular - latin */
@font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/mulish-v12-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../fonts/mulish-v12-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/mulish-v12-latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("../fonts/mulish-v12-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/mulish-v12-latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/mulish-v12-latin-regular.svg#Mulish") format("svg"); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/open-sans-v34-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../fonts/open-sans-v34-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/open-sans-v34-latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("../fonts/open-sans-v34-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/open-sans-v34-latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/open-sans-v34-latin-regular.svg#OpenSans")
            format("svg"); /* Legacy iOS */
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: auto;
}

.container section {
    position: relative;
}

section.left-side p {
    margin: 10px 0 25px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #aaaaaa;
}

section.right-side p {
    margin: 10px 0 25px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #aaaaaa;
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.form-input input {
    -o-border-radius: 16px;
    border: 1px solid #f2e8ff;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    border-radius: 16px;
    padding: 15px;
    background-color: #fcfdfe;
}

.form-input ::placeholder {
    color: #a0a3bd;
}

.form-input label {
    margin-bottom: 10px;
}

div.form-input {
    position: relative;
}

div.form-input .icon {
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.btn-signup {
    background-color: #5f2eea;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    -o-border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    border-radius: 16px;
}

.image-wrap {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100%;
}

.image-wrap .image-overlay {
    background-color: rgba(43, 21, 107, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.image-wrap .image-overlay h1 {
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    margin: 0;
}

.image-wrap .image-overlay.column {
    align-items: flex-start;
}

.image-wrap .image-overlay.column > div > img {
    width: 276px;
    height: 104px;
    margin-bottom: 100px;
}

.image-wrap .image-overlay.column > div {
    margin-left: 120px;
    margin-top: 80px;
    height: 100%;
}

div.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}

div.image-overlay.column > div > div:nth-child(2) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.003em;
    margin-bottom: 20px;
    color: white;
}

div.image-overlay.column > div > div:nth-child(3) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.007em;
    margin-bottom: 60px;
    color: white;
    max-width: 600px;
}

div.bullet {
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: white;
}

div.bullet::after {
    content: "";
    display: block;
    width: 1px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 100%;
}

div.image-overlay.column > div > div div.bullet.last::after {
    display: none;
}

div.bullet.active {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: black;
}

.item div:nth-child(2) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.005em;
    color: white;
}

.form-wrap {
    padding: 50px;
}

.left-side {
    flex: 1;
}

.right-side {
    flex: 1;
    overflow-y: auto;
}

.right-side h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    margin: 0;
}

.link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 10px;
}

a.link {
    color: #5f2eea;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 130px;
}

.nav-container .nav-menu {
    flex: 1;
}

.nav-container .nav-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav-container .nav-menu ul li {
    padding: 0 1rem;
}

.nav-container .nav-menu ul li a {
    text-decoration: none;
    color: black;
}

.nav-container .nav-action ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-container .nav-action a {
    float: right;
    text-decoration: none;
    color: white;
    background-color: #5f2eea;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.nav-container .nav-action a:hover {
    background-color: #4c1fc9;
    color: white;
}

.nav-container .nav-action div.signed {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-container .nav-action div.signed div:nth-child(1) {
    margin-right: 60px;
    display: inline-flex;
}

.nav-container .nav-action div.signed div:nth-child(1) div {
    display: none;
}

.nav-container .nav-action div.signed div:nth-child(1) div:nth-child(2) {
    margin-left: 20px;
}

.nav-container
    .nav-action
    div.signed
    div:nth-child(1)
    div:nth-child(2)
    input.search {
    padding: 10px;
    border: none;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.nav-container .nav-action div.signed div:nth-child(2) div {
    border: 1px solid #5f2eea;
    position: absolute;
    display: none;
}

.nav-container .nav-action div.signed div.active:hover div {
    display: flex;
    flex-direction: column;
}

.nav-container .nav-action div.signed div:nth-child(2) div a {
    color: black;
    background-color: white;
    float: left;
}

.first-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    margin: 0 130px;
}

.first-section div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex: 1;
}

.first-section p {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #a0a3bd;
    margin-bottom: 10px;
}

.first-section h1 {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    color: #5f2eea;
    margin-top: 0;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: #f5f6f8;
}

.second-section .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 130px;
    width: auto;
    height: 100%;
}

.second-section .header :nth-child(1) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 50px 0;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #5f2eea;
    flex: 1;
}

.second-section .header :nth-child(2) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 50px 0;
    color: #5f2eea;
    text-decoration: none;
    flex: 1;
    text-align: right;
}

.second-section .movie-now-showing {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 35px 50px 35px;
    position: relative;
}

.second-section .movie-now-showing .movie {
    border: 2px solid white;
    background-color: #f7f8f9;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin: 0px 24px;
    padding: 32px;
    position: relative;
}

.second-section .movie-now-showing .movie.active:hover {
    background-color: white;
    box-shadow: 0px 8px 30px rgba(186, 186, 186, 0.25);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second-section .movie-now-showing .movie.active > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.second-section .movie-now-showing .movie.active:hover > div {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    background-color: white;
    box-shadow: 0px 8px 30px rgba(186, 186, 186, 0.25);
    border-radius: 8px;
    width: 100%;
    height: 60%;
    margin: 0;
    padding: 0;
}

.second-section .movie-now-showing .movie.active div div:nth-child(1) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.15px;
    max-width: 200px;
    margin-top: 10px;
}

.second-section .movie-now-showing .movie.active div p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #a0a3bd;
}

.second-section .movie-now-showing .movie.active div button {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background-color: white;
    color: #5f2eea;
    border: 1px solid #5f2eea;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 20px 0 0 0;
    padding: 10px 20px;
    width: 70%;
    text-align: center;
    cursor: pointer;
}

.second-section .movie-now-showing .movie img {
    width: 100%;
}

.third-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.third-section .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 130px;
    width: auto;
    height: 100%;
}

.third-section .header :nth-child(1) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 50px 0;
    flex: 1;
}

.third-section .header :nth-child(2) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 50px 0;
    color: #5f2eea;
    text-decoration: none;
    flex: 1;
    text-align: right;
}

.movie-now-showing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 35px 50px 35px;
}

.movie-now-showing .movie {
    border: 2px solid #f5f6f8;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin: 0px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 32px 0 32px;
}

.movie-now-showing .movie img {
    width: 100%;
}

.movie-now-showing .movie div {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
}

.movie-now-showing .movie p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #a0a3bd;
}

.movie-now-showing .movie button {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background-color: white;
    color: #5f2eea;
    border: 1px solid #5f2eea;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 8px 16px;
    margin: 32px;
    width: 70%;
    text-align: center;
    cursor: pointer;
}

.movie-month {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

.movie-month .movie-btn {
    background-color: #5f2eea;
    border: 2px solid #5f2eea;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 8px 16px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #f7f8f9;
    cursor: pointer;
    box-shadow: 0px 8px 30px rgba(95, 46, 234, 0.3);
    -webkit-box-shadow: 0px 8px 30px rgba(95, 46, 234, 0.3);
    -moz-box-shadow: 0px 8px 30px rgba(95, 46, 234, 0.3);
    -ms-box-shadow: 0px 8px 30px rgba(95, 46, 234, 0.3);
    -o-box-shadow: 0px 8px 30px rgba(95, 46, 234, 0.3);
    margin: 40px 10px;
}

.movie-month .btn-movie {
    background-color: transparent;
    border: 2px solid #5f2eea;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 8px 16px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #5f2eea;
    cursor: pointer;
    margin: 20px 10px;
}

section .email-subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    margin: 0 130px;
    border: 1px solid none;
    box-shadow: 0px 16px 32px rgba(186, 186, 186, 0.3);
    -webkit-box-shadow: 0px 16px 32px rgba(186, 186, 186, 0.3);
    -moz-box-shadow: 0px 16px 32px rgba(186, 186, 186, 0.3);
    -ms-box-shadow: 0px 16px 32px rgba(186, 186, 186, 0.3);
    -o-box-shadow: 0px 16px 32px rgba(186, 186, 186, 0.3);
    border-radius: 8px;
}

section .email-subscription .be-the {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 114%;
    text-align: center;
    letter-spacing: 0.25px;
}

section .email-subscription .moviegoers {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #5f2eea;
}

section .email-subscription .input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px 50px 40px 50px;
}

section .email-subscription .input-group .input-email {
    border: 2px solid #dedede;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 8px 16px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.75px;
    margin-right: 20px;
}

section .email-subscription .input-group button {
    background-color: #5f2eea;
    color: white;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    padding: 8px 16px;
    text-align: center;
    letter-spacing: 0.75px;
    cursor: pointer;
    border: 2px solid #5f2eea;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

section .email-subscription p {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.75px;
    margin: 0;
}

.footer {
    padding: 80px 130px 0 130px;
}

.footer > div:nth-child(1) {
    display: flex;
}

.footer > div:nth-child(1) > div {
    flex: 1;
}

.footer > div:nth-child(1) > div:nth-child(1) {
    flex: 2;
}

.footer > div:nth-child(1) > div:nth-child(1) p {
    max-width: 284px;
    line-height: 32px;
}

.footer div:nth-child(1) > div ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer div:nth-child(1) > div span {
    display: block;
    margin-bottom: 30px;
    font-weight: bold;
    color: black;
}

.footer div:nth-child(1) > div ul li {
    margin: 10px 0;
}

.footer > div:nth-child(2) {
    text-align: center;
    margin: 40px 0;
}

.footer div.social-media a {
    text-decoration: none;
    color: black;
}

.footer div.social-media em {
    margin-right: 10px;
}

.view-all-page {
    background-color: #f5f6f8;
    display: flex;
    flex-direction: column;
}

.view-all-page > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 130px;
}

.view-all-page > div:nth-child(1) > div:nth-child(1) {
    flex: 1;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.25px;
}

.view-all-page > div:nth-child(1) > div:nth-child(2) {
    float: right;
}

.view-all-page > div:nth-child(1) > div:nth-child(2) select {
    border: 1px solid #dedede;
    border-radius: 16px;
    padding: 10px;
}

.view-all-page > div:nth-child(1) > div:nth-child(2) input {
    border: 1px solid #dedede;
    border-radius: 16px;
    padding: 10px;
}

.view-all-page > div:nth-child(3) {
    background-color: white;
    padding: 45px 0;
    margin: 0 130px 40px 130px;
    width: fit-content;
    align-self: center;
}

.movie-details-page > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 130px;
}

.movie-details-page > div:nth-child(1) > div:nth-child(2) {
    margin-left: 50px;
}

.movie-details-page > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.movie-details-page > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.75px;
    color: #4e4b66;
    margin-bottom: 20px;
}

.movie-details-page > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.movie-details-page
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(3)
    > div:nth-child(1) {
    margin-right: 40px;
}

.movie-details-page
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(3)
    > div:nth-child(1)
    > div:nth-child(1) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #8692a6;
}

.movie-details-page
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(3)
    > div:nth-child(1)
    > div:nth-child(2) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #121212;
    margin-bottom: 20px;
}

.movie-details-page
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(3)
    > div:nth-child(1)
    > div:nth-child(3) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #8692a6;
}

.movie-details-page
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(3)
    > div:nth-child(1)
    > div:nth-child(4) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #121212;
    margin-bottom: 20px;
}

.movie-details-page
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(3)
    > div:nth-child(2)
    > div:nth-child(1) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #8692a6;
}

.movie-details-page
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(3)
    > div:nth-child(2)
    > div:nth-child(2) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #121212;
    margin-bottom: 20px;
}

.movie-details-page
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(3)
    > div:nth-child(2)
    > div:nth-child(3) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #8692a6;
}

.movie-details-page
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(3)
    > div:nth-child(2)
    > div:nth-child(4) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #121212;
    margin-bottom: 20px;
}

.movie-details-page
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(5)
    > div:nth-child(1) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.5px;
    color: #000000;
}

.movie-details-page
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(5)
    > div:nth-child(2) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #4e4b66;
    text-align: justify;
}

.movie-details-page-2 {
    background-color: #f5f6f8;
}

.movie-details-page-2 > div:nth-child(1) {
    padding: 50px 130px;
}

.movie-details-page-2 > div:nth-child(1) > div:nth-child(1) {
    text-align: center;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: #14142b;
}

.movie-details-page-2 > div:nth-child(1) > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.movie-details-page-2 > div:nth-child(1) > div:nth-child(2) .input {
    position: relative;
    margin: 20px;
}

.movie-details-page-2
    > div:nth-child(1)
    > div:nth-child(2)
    .input
    em:nth-child(1) {
    position: absolute;
    top: 20px;
    left: 20px;
}

.movie-details-page-2
    > div:nth-child(1)
    > div:nth-child(2)
    .input
    em:nth-child(3) {
    position: absolute;
    top: 20px;
    right: 20px;
}

.movie-details-page-2 > div:nth-child(1) > div:nth-child(2) .input input {
    background: #eff0f6;
    padding: 20px 40px;
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

/* .movie-details-page-2 > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.movie-details-page-2 > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.movie-details-page-2 > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.movie-details-page-2 > div:nth-child(1) > div:nth-child(3) div.card {
    background: #ffffff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    flex: 1;
    margin: 20px;
}

.movie-details-page-2
    > div:nth-child(1)
    > div:nth-child(3)
    div.card
    > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.movie-details-page-2
    > div:nth-child(1)
    > div:nth-child(3)
    div.card
    > div:nth-child(1)
    > div:nth-child(1) {
    padding: 30px;
    flex: 1;
}

.movie-details-page-2
    > div:nth-child(1)
    > div:nth-child(3)
    div.card
    > div:nth-child(1)
    > div:nth-child(2) {
    padding: 30px;
    flex: 1;
}

.movie-details-page-2
    > div:nth-child(1)
    > div:nth-child(3)
    div.card
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(1) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #000000;
}

.movie-details-page-2
    > div:nth-child(1)
    > div:nth-child(3)
    div.card
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(2) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.75px;
    color: #6e7191;
}

.movie-details-page-2 div.card div.grid {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "a b c d";
    margin: 0 30px;
}

.movie-details-page-2 div.card div.grid div {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
}

.movie-details-page-2
    > div:nth-child(1)
    > div:nth-child(3)
    div.card
    > div:nth-child(4) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.movie-details-page-2
    > div:nth-child(1)
    > div:nth-child(3)
    div.card
    > div:nth-child(4)
    div {
    flex: 1;
    padding: 0 30px;
}

.movie-details-page-2
    > div:nth-child(1)
    > div:nth-child(3)
    div.card
    > div:nth-child(4)
    > div:nth-child(1) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #6b6b6b;
    flex: 1;
}

.movie-details-page-2
    > div:nth-child(1)
    > div:nth-child(3)
    div.card
    > div:nth-child(4)
    > div:nth-child(2) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.75px;
    color: #000000;
    flex: 1;
}

.movie-details-page-2
    > div:nth-child(1)
    > div:nth-child(3)
    div.card
    > div:nth-child(5) {
    text-align: center;
    margin: 40px;
}

.movie-details-page-2
    > div:nth-child(1)
    > div:nth-child(3)
    div.card
    > div:nth-child(5)
    a {
    background: #5f2eea;
    box-shadow: 0px 8px 24px rgba(95, 46, 234, 0.24);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: white;
    text-decoration: none;
    padding: 15px 60px;
}

.movie-details-page-2 > div:nth-child(1) > div:nth-child(4) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.movie-details-page-2 > div:nth-child(1) > div:nth-child(4) div {
    flex: 1;
}

.movie-details-page-2 > div:nth-child(1) > div:nth-child(4) hr {
    border: none;
    border-bottom: 1px solid #dedede;
}

.order-page {
    background-color: #f5f6f8;
}

.order-page .layout {
    padding: 40px 130px;
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    position: relative;
}

.order-page .layout > div:nth-child(1) {
    flex: 2;
}

.order-page .layout > div:nth-child(2) {
    flex: 1;
}

.order-page .layout > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #14142b;
}

.order-page .layout > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    background-color: #ffffff;
    padding: 35px;
    margin: 35px 35px 35px 0;
    display: flex;
    align-items: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

/* .order-page
    .layout
    > div:nth-child(1)
    > div:nth-child(1)
    > div:nth-child(2)
    div {
    flex: 1;
} */

.order-page
    .layout
    > div:nth-child(1)
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(1) {
    flex: 1;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #000000;
}

.order-page
    .layout
    > div:nth-child(1)
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(2)
    > div {
    background-color: #eff0f6;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    color: #5f2eea;
    padding: 4px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background: #eff0f7;
    border: 8px solid #eff0f7;
}

.order-page .layout > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #14142b;
}

.order-page .layout > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
    background-color: #ffffff;
    padding: 100px;
    margin: 35px 35px 35px 0;
    display: flex;
    align-items: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    justify-content: center;
}

.order-page
    .layout
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(1)
    > div:nth-child(1) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.75px;
    color: #4e4b66;
}

.order-page
    .layout
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(1)
    > div:nth-child(2)
    hr {
    border: none;
    border-bottom: 4px solid #d6d8e7;
    background: #d6d8e7;
    border-radius: 4px;
    margin-bottom: 20px;
}

.grid-seat {
    display: flex;
}

.left-grid-seat {
    flex: 1;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(8, 20px);
    grid-template-rows: repeat(8, 20px);
}

.left-grid-seat div {
    background-color: #d6d8e7;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.left-grid-seat .seat {
    background-color: transparent;
    text-align: center;
}

.left-grid-seat .selected {
    background-color: #5f2eea;
}

.left-grid-seat .sold {
    background: #6e7191;
}

.right-grid-seat {
    flex: 1;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(8, 20px);
    grid-template-rows: repeat(8, 20px);
}

.right-grid-seat div {
    background-color: #d6d8e7;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.right-grid-seat .seat {
    background-color: transparent;
    text-align: center;
}

.right-grid-seat .selected {
    background-color: #5f2eea;
}

.right-grid-seat .sold {
    background: #6e7191;
}

.order-page
    .layout
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(1)
    > div:nth-child(4) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #000000;
    margin: 20px 0;
}

.order-page
    .layout
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(1)
    > div:nth-child(5) {
    display: flex;
    flex-direction: row;
}

.order-page
    .layout
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(1)
    > div:nth-child(5)
    div {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.order-page
    .layout
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(1)
    > div:nth-child(5)
    .seat-key {
    display: grid;
    grid-template-columns: repeat(1, 20px);
    grid-template-rows: repeat(1, 20px);
    gap: 5px;
}

.order-page
    .layout
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(1)
    > div:nth-child(5)
    > div:nth-child(1)
    > div:nth-child(1)
    > div {
    background: #d6d8e7;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 0;
    padding: 0;
}

.order-page
    .layout
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(1)
    > div:nth-child(5)
    > div:nth-child(2)
    > div:nth-child(1)
    > div {
    background: #5f2eea;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 0;
    padding: 0;
}

.order-page
    .layout
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(1)
    > div:nth-child(5)
    > div:nth-child(3)
    > div:nth-child(1)
    > div {
    background: #6e7191;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 0;
    padding: 0;
}

.order-page .layout > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 35px;
}

.order-page
    .layout
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(3)
    div {
    flex: 1;
}
.order-page
    .layout
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(3)
    > div:nth-child(1)
    a {
    border: 2px solid #5f2eea;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #5f2eea;
    text-decoration: none;
    padding: 10px 20px;
}

.order-page
    .layout
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(3)
    > div:nth-child(2)
    a {
    border: 2px solid #5f2eea;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.75px;
    text-decoration: none;
    padding: 10px 20px;
    background: #5f2eea;
    color: #ffffff;
    float: right;
}

/* .order-page .layout > div:nth-child(2) {
    margin-top: -30%;
} */

.order-page .layout > div:nth-child(2) > div:nth-child(1) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #14142b;
    margin-bottom: 20px;
}

.order-page .layout > div:nth-child(2) > div:nth-child(2) {
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(186, 186, 186, 0.24);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 35px;
}

.order-page .layout > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    color: #14142b;
    margin: 10px 0 30px 0;
}

.order-page
    .layout
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(3)
    div {
    display: flex;
    flex-direction: row;
}

.order-page
    .layout
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(3)
    div
    div {
    flex: 1;
    margin-bottom: 5px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #6b6b6b;
}

.order-page
    .layout
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(3)
    div
    div:nth-child(2) {
    justify-content: end;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    text-align: right;
    letter-spacing: 0.75px;
    color: #14142b;
}

.order-page .layout > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) {
    width: 100%;
}

.order-page .layout > div:nth-child(2) > div:nth-child(2) > hr {
    border: none;
    border-bottom: 2px solid #e6e6e6;
    width: 100%;
}

.order-page .layout > div:nth-child(2) > div:nth-child(2) > div:nth-child(5) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.order-page
    .layout
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(5)
    div {
    flex: 1;
}

.order-page
    .layout
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(5)
    > div:nth-child(1) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #000000;
}

.order-page
    .layout
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(5)
    > div:nth-child(2) {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.25px;
    color: #5f2eea;
}

@media screen and (max-width: 880px) {
    .container .left-side {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .image-wrap .image-overlay.column > div > img {
        width: 276px;
        height: 104px;
        margin-bottom: 30px;
    }

    div.image-overlay.column > div > div:nth-child(2) {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 30px;
        letter-spacing: 0.003em;
        margin-bottom: 20px;
        color: white;
    }

    div.image-overlay.column > div > div:nth-child(3) {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.007em;
        margin-bottom: 30px;
        color: white;
        max-width: 400px;
    }

    div.item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
    }

    div.bullet {
        background-color: transparent;
        width: 30px;
        height: 30px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        color: white;
    }

    div.bullet.active {
        background-color: white;
        width: 30px;
        height: 30px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        color: black;
    }

    .item div:nth-child(2) {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.005em;
        color: white;
    }

    div.bullet::after {
        content: "";
        display: block;
        width: 1px;
        height: 20px;
        background-color: white;
        position: absolute;
        top: 100%;
    }
}
